* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: content;
    align-items: center;
    background-color: #003471;
}

.content {
    margin: 0 auto;
    max-width: 590px;
    /* border: 2px solid tomato; */
    padding: 0 3px;
}

.content__header {
    font-size: 42px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: left;
    margin: 0px 0px 15px 0px; 
}

.content__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content__item {
    height: 90px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.content__link {
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__link span {
    padding: 15px 0 0 6px;
}

.content__link-modified {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.content__link-modified span{
    padding: 0 0 0 10px;
}

.image-7 {
    display: block;
    width: 90px;
    height: 90px;
}

.content__item:nth-child(1) {
    background-color: #AF16B3; 
}

.content__item:nth-child(2) {
    background-color: #16B3A9;
}

.content__item:nth-child(3) {
    background-color: #D09D18;
    width: 190px;
}

.content__item:nth-child(4) {
    background-color: #16B34B;
}

.content__item:nth-child(5) {
    background-color: #B31616;
}

.content__item:nth-child(6) {
    background-color: #48D018;
    width: 190px;
}

.content__item:nth-child(7) {
    display: flex;
    background-color: #000C16;
    width: 290px;
}

.content__item:nth-child(8) {
    background-color: #16B3A9;
}

@media (max-width: 575px) {

    .content__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .content__item {
        height: 140px;
        width: calc(50% - 4px);
    }

    .content__item:nth-child(3),
    .content__item:nth-child(6),
    .content__item:nth-child(7),
    .content__item:nth-child(8) {
        width: 100%;
    }
    
    .content__link-modified {
        justify-content: center;
    }

    .image-7 {
        display: none;
    }

    .content__link span{
        font-size: 20px;
    }

}